/* variables */
:root {
  --white: #fff;
  --dark-grey: #3c4048;
  --grey: #eaebed;
  --light-grey: #e0e0e0;
  --main-light: #fdfff5;
  --blue: #024051;
  --sky: #e2f3ff;
  --light-yellow: #fdf4a1;
  --light-green: #f1fbeb;
  --zian-green: #0d3023;
  --zian-green-active: #1e6f52;
  --grey-lemon-green: #a0bc9f;
  --beige: #fffaec;
  --mint: #e8ffe9;
  --main-font: "Montserrat", "Arial", sans-serif;
  --second-font: "Cinzel", "Arial", sans-serif;
  --section-padding: 100px 0;
  --section-padding-lg: 70px 0;
  --section-padding-md: 40px 0;
  --section-padding-sm: 20px 0;
  --section-padding-xs: 10px 0;
  --padding: 0 0 100px 0;
  --padding-md: 0 0 50px 0;
  --padding-sm: 0 0 20px 0;
}

/* Global */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--beige);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1rem;
  color: var(--dark-grey);
  line-height: 1.2;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-size: 3.75rem;
  text-transform: uppercase;
}

.second-title {
  font-family: var(--second-font);
  font-weight: 500;
  font-size: 2.75rem;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .second-title {
    margin-bottom: 30px;
  }
}
@media (max-width: 1200px) {
  .second-title {
    font-size: 2.25rem;
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .second-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .second-title {
    font-size: 1.75rem;
  }
}
@media (max-width: 475px) {
  .second-title {
    font-size: 1.5rem;
    margin-bottom: 4px;
  }
}

/* Fonts */
@font-face {
  font-family: "Cinzel";
  src: local("cinzel"), url("../fonts/cinzel-regular.woff2") format("woff2"), url("../fonts/cinzel-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cinzel";
  src: local("cinzel"), url("../fonts/cinzel-medium.woff2") format("woff2"), url("../fonts/cinzel-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cinzel";
  src: local("cinzel"), url("../fonts/cinzel-semi-bold.woff2") format("woff2"), url("../fonts/cinzel-semi-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Cinzel";
  src: local("cinzel"), url("../fonts/cinzel-bold.woff2") format("woff2"), url("../fonts/cinzel-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cinzel";
  src: local("cinzel"), url("../fonts/cinzel-extra-bold.woff2") format("woff2"), url("../fonts/cinzel-extra-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Cinzel";
  src: local("cinzel"), url("../fonts/cinzel-black.woff2") format("woff2"), url("../fonts/cinzel-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("montserrat"), url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("montserrat"), url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("montserrat"), url("../fonts/montserrat-semi-bold.woff2") format("woff2"), url("../fonts/montserrat-semi-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("montserrat"), url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts//montserrat-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("montserrat"), url("../fonts/montserrat-extra-bold.woff2") format("woff2"), url("../fonts/montserrat-extra-bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("montserrat"), url("../fonts/montserrat-black.woff2") format("woff2"), url("../fonts/montserrat-black.woff2") format("woff");
  font-weight: 900;
  font-style: normal;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background: transparent;
  margin-top: 30px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  height: 100px;
  align-items: center;
  padding: 0 20px;
  left: 0;
  right: 0;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
  z-index: 9;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
.nav__link {
  color: var(--beige);
  display: inline-block;
  line-height: 1;
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--beige);
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}

.button {
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: 99;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transform: scale(0);
}
.button__line {
  width: 40%;
  background: var(--white);
  height: 2px;
  display: block;
  margin: 5px auto;
  transform: scalex(0);
  transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s margin ease-in 0s;
}
.button__line:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

/* Top */
.top {
  font-family: var(--second-font);
  font-weight: 600;
  width: 100%;
  height: 100vh;
  background: url(../img/bangkok-2.avif) no-repeat 50% 50%;
  background-attachment: fixed;
  top: 0;
  padding-top: 100px;
}
.top::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5) no-repeat 0% 80%;
}
.top__wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.top__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 445px;
  color: var(--beige);
  padding: 180px 0;
}
.top__title {
  font-size: 6.25rem;
}
.top__filters {
  filter: url(#threshold) blur(0.6px);
}
.top__text-top, .top__text-bottom {
  position: absolute;
  width: 100%;
  display: inline-block;
  font-size: 6.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* About */
.about {
  background-color: var(--white);
  padding: var(--section-padding);
}
.about__wrapper {
  display: flex;
  align-items: center;
}
.about__img-wrap {
  max-width: 700px;
  min-width: 650px;
}
.about__img {
  display: block;
  width: 100%;
}
.about__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
}
.about__text-wrapper {
  font-family: var(--second-font);
  font-weight: 500;
}
.about__text-block {
  font-size: 1.375rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about__title {
  font-size: 2.75rem;
  margin-bottom: 30px;
}
.about__text-top {
  display: inline-block;
  font-size: 2.25rem;
  margin-bottom: 30px;
}
.about__colorful-wrapper {
  height: 874px;
  max-width: 100px;
  width: 100%;
}

/* Adventure */
.adventure {
  padding: var(--section-padding);
}
.adventure__title-wrap {
  display: flex;
  gap: 20px;
}
.adventure__block-wrap {
  position: relative;
  font-size: 1.375rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 50;
}
.adventure__block-wrap:not(:last-child) {
  margin-bottom: 50px;
}
.adventure__block-wrap:first-of-type::before {
  content: "";
  position: absolute;
  top: 112px;
  left: -260px;
  background: url(../img/airplane-2.png) no-repeat;
  background-size: 360px auto;
  width: 360px;
  height: 360px;
  opacity: 0.3;
  rotate: 10deg;
  z-index: -1;
}
.adventure__block-wrap:first-of-type::after {
  content: "";
  position: absolute;
  bottom: 82px;
  right: 40px;
  background: url("../img/adventure-awaits.png") no-repeat;
  background-size: 200px auto;
  width: 200px;
  height: 200px;
  opacity: 0.3;
  z-index: -1;
}
.adventure__block-wrap:last-of-type::after {
  content: "";
  position: absolute;
  bottom: 32px;
  left: -340px;
  background: url("../img/airplane.png") no-repeat;
  background-size: 500px auto;
  width: 500px;
  height: 500px;
  opacity: 0.3;
  z-index: -1;
}
.adventure__text-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.adventure__text {
  font-size: 1.75rem;
}
.adventure__text-item, .adventure__wrap {
  width: 200px;
  width: 100%;
  max-height: 400px;
}
.adventure__wrap {
  overflow: hidden;
  box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.5);
}
.adventure__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 400ms ease-out;
}
.adventure__img:hover {
  transform: scale(1.15);
}

/* Animation scroll*/
.animation__feature-grid {
  display: grid;
  place-content: center;
  gap: 16px;
  overflow: hidden;
}
.animation__row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max(10vw, 20ch);
  gap: 16px;
}
.animation__card {
  width: 100%;
  height: 100%;
  aspect-ratio: 1080/1020;
  background-color: var(--light-grey);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.animation__img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* Situations */
.situations__section {
  max-width: 1840px;
  border-radius: 50px;
  background-color: var(--grey-lemon-green);
  padding: var(--section-padding);
  margin: 0 auto;
}
.situations__wrapper {
  position: relative;
  z-index: 50;
}
.situations__block-wrap {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.situations__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
}
.situations__card {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.625rem;
  color: var(--dark-grey);
  background-color: var(--beige);
  border-radius: 20px;
  box-shadow: -2px 5px 15px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  cursor: default;
  padding: 46px;
}
.situations__card:hover {
  transform: scale(1.05);
}
.situations__text-top, .situations__text-bottom {
  max-width: 352px;
  font-size: 2rem;
  color: var(--beige);
  background-color: var(--zian-green);
  border-radius: 30px;
  box-shadow: -2px 5px 15px 0px rgba(0, 0, 0, 0.5);
  padding: 50px;
}
.situations__text-bottom {
  align-self: flex-end;
  width: 100%;
  max-width: 468px;
}
.situations__text-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.situations__text-bottom-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.situations__line {
  flex-grow: 1;
  height: 2px;
  background-color: var(--dark-grey);
}

/* Statistics */
.statistics {
  background-color: var(--white);
  padding: var(--padding);
}
.statistics__about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  text-align: center;
  gap: 0px 20px;
}
.statistics__item {
  max-width: 550px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: subgrid;
  grid-row: span 2;
  grid-template-areas: "number number number" "text-statistic text-statistic text-statistic";
}
.statistics__number {
  grid-area: number;
  position: relative;
  font-size: 9.375rem;
}
.statistics__text-statistic {
  grid-area: text-statistic;
  font-size: 1.625rem;
}

/* Choose */
.choose {
  padding: var(--section-padding);
}
.choose__section {
  padding: var(--section-padding);
}
.choose__wrapper {
  display: grid;
  place-items: center;
  position: relative;
}
.choose__central-block {
  display: grid;
  place-items: center;
  gap: 16px;
  z-index: 2;
  position: relative;
}
.choose__title {
  text-align: center;
}
.choose__hgroup {
  display: grid;
  place-items: center;
  gap: 8px;
}
.choose__img-wrap {
  max-width: 780px;
}
.choose__central-image {
  display: block;
  width: 100%;
}
.choose__blocks {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  max-width: 600px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 32px;
}
@media (width >= 1024px) {
  .choose__blocks {
    max-width: none;
  }
}
.choose__block {
  max-width: 450px;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: var(--beige);
  background: var(--zian-green);
  border-radius: 30px;
  box-shadow: -2px 5px 15px 0px rgba(0, 0, 0, 0.5);
  padding: 25px;
}
@media (width >= 1024px) {
  .choose__block {
    position: absolute;
  }
  .choose__block:nth-child(2) {
    top: -30px;
    right: 20%;
    transform: translate(-50%, -100%);
  }
  .choose__block:nth-child(3) {
    top: 80px;
    right: 120px;
    transform: translate(40%, -2%);
  }
  .choose__block:nth-child(4) {
    bottom: 0;
    left: 5%;
    transform: translate(-25%, -172%);
  }
  .choose__block:nth-child(5) {
    bottom: 0;
    left: 25%;
    transform: translate(-67%, 84%);
  }
  .choose__block:nth-child(6) {
    bottom: 0;
    right: 25%;
    transform: translate(77%, 78%);
  }
}

/* Lessons */
.lessons {
  padding: var(--section-padding);
}
.lessons__title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 80px;
}
.lessons__blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
}
.lessons__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}
.lessons__block_left {
  justify-content: space-evenly;
}
.lessons__top-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lessons__bottom-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.lessons__item {
  font-size: 1.75rem;
  line-height: 1.5;
}
.lessons__link {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--beige);
  background-color: var(--zian-green);
  border-radius: 30px;
  transition: opacity 0.3s ease;
  padding: 20px;
}
.lessons__link:hover {
  opacity: 0.8;
}
.lessons__link:active {
  background-color: var(--zian-green-active);
}
.lessons__img-wrap {
  max-width: 800px;
  max-width: 500px;
}
.lessons__img {
  width: 100%;
}
.lessons__main-img {
  display: block;
  width: 100%;
  border-radius: 30px;
  box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.5);
}
.lessons__content {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  height: 100%;
  flex-grow: 1;
  padding: 20px;
}
.lessons__bottom-text {
  color: var(--dark-grey);
  font-size: 1.5rem;
}
.lessons__wrap-img {
  margin-bottom: 30px;
}
.lessons__img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.lessons__title-lesson {
  font-size: 1.5rem;
  text-align: center;
  color: var(--dark-grey);
  margin-bottom: 10px;
}
.lessons__description {
  font-size: 1.25rem;
  text-align: center;
  color: var(--dark-grey);
}
.lessons__slider {
  background-color: var(--grey-lemon-green);
  padding: 50px 0;
}
.lessons__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  max-width: 400px;
  width: 100%;
  min-height: 225px;
  max-width: 500px;
  height: 100%;
  background-color: var(--beige);
  border-radius: 30px;
  box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.5);
  margin: 0 16px;
}
.lessons__slide:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
.lessons__buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}
.lessons__button {
  background-color: var(--grey-lemon-green);
  color: var(--dark-grey);
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px;
}
.lessons__button:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
@media (min-width: 1024px) {
  .lessons__button {
    padding: 16px;
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
  height: 100%;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: flex;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-slide {
  opacity: 0.5;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slick-current {
  opacity: 1;
}

.slick-list {
  overflow: unset;
  overflow-x: clip;
}

/* FAQ */
.questions {
  background-color: var(--white);
  padding: var(--section-padding);
  background-image: url("../img/thai-flag.png");
  background-position: 6% 19%;
  background-size: 20%;
  background-repeat: no-repeat;
  position: relative;
  background-repeat: no-repeat;
}
.questions__title {
  padding-bottom: 30px;
}
.questions__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--beige);
  padding: 0;
  margin: 20px 0 0 0;
}
.questions__item {
  display: block;
  list-style: none;
  overflow: hidden;
  border-radius: 30px;
  border-top: 1px solid var(--dark-grey);
  box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.8);
}
.questions__expand {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--zian-green);
  text-decoration: none;
  cursor: pointer;
  padding: 30px;
}
.questions__question {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.questions__answer {
  background-color: var(--grey-lemon-green);
  color: var(--dark-grey);
  display: none;
  line-height: 22px;
  padding: 30px;
}
.questions__text {
  font-size: 1.25rem;
  color: var(--dark-grey);
}
.questions__text_position {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.questions__arrow {
  font-weight: 700;
  font-size: 1.5rem;
  align-content: center;
}
.questions__link {
  text-decoration: none;
  color: var(--zian-green);
}
.questions__link:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  padding: var(--section-padding);
  background-color: var(--zian-green);
  color: var(--beige);
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 1.25rem;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
}
.footer__social {
  display: flex;
  gap: 10px;
}
.footer__link {
  max-width: 50px;
  height: auto;
}
.footer__img {
  max-width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}
.footer__img:hover {
  transform: scale(1.1);
}
.footer__img:active {
  opacity: 0.8;
}

@media (max-width: 1440px) {
  .top__title, .top__text-top, .top__text-bottom {
    font-size: 5rem;
  }
  .statistics__number {
    font-size: 6.25rem;
  }
  .adventure__block-wrap:first-of-type::before {
    top: 42px;
    left: 30px;
  }
  .adventure__block-wrap:last-of-type::after {
    bottom: 55px;
    left: 128px;
    opacity: 0.2;
  }
  .choose__img-wrap {
    max-width: 620px;
  }
  .choose__block:nth-child(2) {
    transform: translate(-48%, -104%);
  }
  .choose__block:nth-child(3) {
    transform: translate(8%, -48%);
  }
  .choose__block:nth-child(4) {
    transform: translate(-13%, -162%);
  }
  .choose__block:nth-child(5) {
    transform: translate(-65%, 70%);
  }
  .choose__block:nth-child(6) {
    right: 28%;
    transform: translate(76%, 70%);
  }
  .questions {
    background-position: 96% 0%;
  }
}
@media (max-width: 1200px) {
  .about {
    padding: var(--section-padding-lg);
  }
  .about__text-top {
    font-size: 1.875rem;
  }
  .about__img-wrap {
    min-width: 500px;
  }
  .statistics__number {
    font-size: 5rem;
  }
  .statistics__about {
    grid-template-columns: repeat(3, 370px);
  }
  .adventure {
    padding: var(--section-padding-lg);
  }
  .adventure__text {
    font-size: 1.5rem;
  }
  .adventure__wrap-text {
    font-size: 1.25rem;
  }
  .adventure__block-wrap:last-of-type::after {
    bottom: 25px;
    left: 28px;
  }
  .situations {
    padding: var(--section-padding-lg);
  }
  .situations__text-top, .situations__text-bottom {
    padding: 36px;
  }
  .situations__card {
    padding: 26px;
  }
  .lessons {
    padding: var(--section-padding-lg);
  }
  .lessons__item {
    font-size: 1.5rem;
  }
  .choose {
    padding: var(--section-padding-lg);
  }
  .choose__block {
    font-size: 1.25rem;
    max-width: 390px;
    padding: 25px 10px;
  }
  .choose__block:nth-child(2) {
    transform: translate(-43%, -92%);
  }
  .choose__block:nth-child(3) {
    transform: translate(22%, -46%);
  }
  .choose__block:nth-child(4) {
    transform: translate(-12%, -233%);
  }
  .choose__block:nth-child(5) {
    transform: translate(-63%, 70%);
  }
}
@media (max-width: 1130px) {
  .adventure__text-list {
    grid-template-columns: repeat(auto-fill, minmax(min(314px, 100%), 1fr));
  }
  .adventure__block-wrap:first-of-type::before {
    top: 20px;
    background-size: 320px auto;
    width: 320px;
    height: 320px;
  }
  .adventure__block-wrap:first-of-type::after {
    background-size: 180px auto;
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 1024px) {
  .nav {
    max-width: 410px;
    height: 60px;
  }
  .top__title, .top__text-top, .top__text-bottom {
    font-size: 4rem;
  }
  .about {
    padding: var(--section-padding-md);
  }
  .about__text-top {
    font-size: 1.625rem;
    margin-bottom: 15px;
  }
  .about__text-block {
    font-size: 1.125rem;
    gap: 6px;
  }
  .about__img-wrap {
    max-width: 420px;
    min-width: 310px;
  }
  .statistics {
    padding: var(--padding-md);
  }
  .statistics__about {
    grid-template-columns: repeat(3, 310px);
  }
  .statistics__number {
    font-size: 3.125rem;
  }
  .statistics__text-statistic {
    font-size: 1.25rem;
  }
  .statistics__about {
    grid-template-columns: repeat(3, 260px);
  }
  .adventure {
    padding: var(--section-padding-md);
  }
  .adventure__text-list {
    grid-template-columns: repeat(auto-fill, minmax(min(314px, 100%), 1fr));
  }
  .adventure__text {
    font-size: 1.25rem;
  }
  .adventure__block-wrap:first-of-type::before {
    top: 20px;
    background-size: 320px auto;
    width: 320px;
    height: 320px;
  }
  .adventure__block-wrap:first-of-type::after {
    background-size: 180px auto;
    width: 180px;
    height: 180px;
  }
  .adventure__block-wrap:not(:last-child) {
    margin-bottom: 20px;
  }
  .adventure__block-wrap:last-of-type::after {
    bottom: 80px;
    background-size: 430px auto;
    width: 440px;
    height: 440px;
  }
  .situations {
    padding: var(--section-padding-md);
  }
  .situations__section {
    padding: var(--section-padding-md);
  }
  .situations__text-top, .situations__text-bottom {
    font-size: 1.5rem;
    padding: 24px;
  }
  .situations__block-wrap {
    gap: 30px;
  }
  .situations__card {
    font-size: 1.25rem;
  }
  .lessons {
    padding: var(--section-padding-md);
  }
  .lessons__item, .lessons__link, .lessons__bottom-text {
    font-size: 1.25rem;
  }
  .choose {
    padding: var(--section-padding-md);
  }
  .choose__section {
    padding: 0;
  }
  .choose__blocks {
    position: static;
    grid-template-columns: repeat(1, 1fr);
    top: 0;
    left: 0;
    transform: none;
  }
  .choose__block {
    position: unset;
  }
  .choose__block:nth-child(1) {
    top: 0;
    left: 0;
    transform: none;
  }
  .choose__block:nth-child(2) {
    top: 20%;
    right: 0;
    transform: none;
  }
  .choose__block:nth-child(3) {
    bottom: 0;
    left: 0;
    transform: none;
  }
  .choose__block:nth-child(4) {
    bottom: 0;
    left: 0;
    transform: none;
  }
  .choose__block:nth-child(5) {
    bottom: 0;
    right: 0;
    transform: none;
  }
  .choose__block:nth-child(6) {
    bottom: 0;
    right: 0;
    transform: none;
  }
  .choose__title {
    order: -1;
  }
  .choose__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px 12px;
  }
  .choose__central-block_main {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .questions {
    padding: var(--section-padding-md);
    background-size: 50%;
    background-position: 104% -16%;
  }
  .questions__list {
    gap: 20px;
  }
  .questions__question {
    font-size: 1.25rem;
  }
  .questions__text {
    font-size: 1.125rem;
  }
  .questions__expand, .questions__answer {
    padding: 24px;
  }
  .footer {
    padding: var(--section-padding-md);
  }
}
@media (max-width: 768px) {
  .nav__link {
    font-size: 1rem;
    padding: 20px 0;
  }
  .top__title, .top__text-top, .top__text-bottom {
    font-size: 3.125rem;
  }
  .about {
    padding: var(--section-padding-sm);
  }
  .about__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__text-top {
    font-size: 1.375rem;
    margin-bottom: 6px;
  }
  .about__description {
    padding: 20px;
    padding-bottom: 0;
  }
  .statistics {
    padding: var(--padding-sm);
  }
  .statistics__about {
    gap: 8px 0;
    grid-template-columns: repeat(3, 200px);
  }
  .statistics__number {
    font-size: 1.75rem;
  }
  .statistics__text-statistic {
    font-size: 1rem;
  }
  .animation__row {
    grid-auto-columns: max(10vw, 13ch);
  }
  .adventure {
    padding: var(--section-padding-sm);
  }
  .adventure__text {
    font-size: 1.125rem;
  }
  .adventure__wrap-text {
    font-size: 1rem;
  }
  .adventure__block-wrap:first-of-type::before {
    top: -11px;
    background-size: 280px auto;
    width: 280px;
    height: 280px;
    left: unset;
    right: 74px;
    rotate: 25deg;
  }
  .adventure__block-wrap:first-of-type::after {
    background-size: 130px auto;
    width: 140px;
    height: 130px;
    bottom: 44px;
    right: 47px;
  }
  .adventure__block-wrap:last-of-type::after {
    left: 78px;
    background-size: 240px auto;
    width: 240px;
    height: 240px;
  }
  .adventure__text-list {
    grid-template-columns: repeat(auto-fill, minmax(min(228px, 100%), 1fr));
  }
  .situations {
    padding: var(--section-padding-sm);
  }
  .situations__text-top, .situations__text-bottom {
    font-size: 1.25rem;
    padding: 16px;
  }
  .situations__text-bottom {
    max-width: 330px;
  }
  .situations__block-wrap {
    gap: 12px;
  }
  .situations__blocks {
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
  }
  .situations__card {
    padding: 18px;
  }
  .lessons {
    padding: var(--section-padding-sm);
  }
  .lessons__item, .lessons__link, .lessons__bottom-text {
    font-size: 1.125rem;
  }
  .lessons__bottom-block {
    gap: 10px;
  }
  .lessons__link {
    border-radius: 20px;
    padding: 14px;
  }
  .lessons__block {
    gap: 20px;
  }
  .lessons__slider {
    padding: 20px 0;
  }
  .lessons__slide {
    max-width: 300px;
  }
  .lessons__content {
    min-height: 355px;
    padding: 14px 8px;
  }
  .lessons__title-lesson {
    font-size: 1.25rem;
  }
  .lessons__description {
    font-size: 1rem;
  }
  .choose {
    padding: var(--section-padding-sm);
  }
  .choose__block {
    font-size: 1rem;
    padding: 14px 10px;
  }
  .questions {
    background-position: 116% -8%;
    padding: var(--section-padding-sm);
  }
  .questions__question {
    font-size: 1.125rem;
  }
  .questions__text {
    font-size: 1rem;
  }
  .questions__expand, .questions__answer {
    padding: 16px;
  }
  .footer {
    padding: var(--section-padding-sm);
  }
  .footer__wrap {
    font-size: 1.125rem;
  }
  .footer__contacts {
    gap: 10px;
  }
}
@media (max-width: 475px) {
  .top__title, .top__text-top, .top__text-bottom {
    font-size: 1.5rem;
  }
  .about {
    padding: var(--section-padding-xs);
  }
  .about__text-top {
    font-size: 1.125rem;
    margin-bottom: 0px;
  }
  .about__description {
    padding: 0;
  }
  .about__text-block {
    font-size: 1rem;
    gap: 4px;
  }
  .statistics__about {
    gap: 21px 0;
    grid-template-columns: repeat(1, 214px);
  }
  .statistics__item {
    grid-template-rows: unset;
  }
  .animation__row {
    grid-auto-columns: max(10vw, 8ch);
  }
  .animation__feature-grid {
    display: grid;
    place-content: center;
    gap: 6px;
  }
}/*# sourceMappingURL=styles.css.map */