/* variables */

:root {
    --white: #fff;
    --dark-grey: #3c4048;
    --grey: #eaebed;
    --light-grey: #e0e0e0;
    --main-light: #fdfff5;

    --blue: #024051;
    --sky: #e2f3ff;
    --light-yellow: #fdf4a1;

    --light-green: #f1fbeb;
    --zian-green: #0d3023;
    --grey-lemon-green: #a0bc9f;

    --beige: #fffaec;
    --mint: #e8ffe9;

    --main-font: 'Montserrat', 'Arial', sans-serif;
    --second-font: 'Cinzel', 'Arial', sans-serif;

    --block-padding: 100px 0;
    --padding: 0 0 100px 0;
}

/* Global */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--beige);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1rem;
    color: var(--dark-grey);
    line-height: 1.2;
    // background-color: var(--zian-green);
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.title {
    font-size: 3.75rem;
    text-transform: uppercase;
}

.second-title {
    font-family: var(--second-font);
    font-weight: 500;
    font-size: 2.75rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

/* Fonts */

@font-face {
    font-family: 'Cinzel';
    src: local('cinzel'), url('../fonts/cinzel-regular.woff2') format('woff2'), url('../fonts/cinzel-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: local('cinzel'), url('../fonts/cinzel-medium.woff2') format('woff2'), url('../fonts/cinzel-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: local('cinzel'), url('../fonts/cinzel-semi-bold.woff2') format('woff2'), url('../fonts/cinzel-semi-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: local('cinzel'), url('../fonts/cinzel-bold.woff2') format('woff2'), url('../fonts/cinzel-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: local('cinzel'), url('../fonts/cinzel-extra-bold.woff2') format('woff2'), url('../fonts/cinzel-extra-bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: local('cinzel'), url('../fonts/cinzel-black.woff2') format('woff2'), url('../fonts/cinzel-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

//

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url('../fonts/montserrat-thin.woff2') format('woff2'), url('../fonts/montserrat-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url('../fonts/montserrat-extra-light.woff2') format('woff2'), url('../fonts/montserrat-extra-light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url('../fonts/montserrat-light.woff2') format('woff2'), url('../fonts/montserrat-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url('../fonts/montserrat-medium.woff2') format('woff2'), url('../fonts/montserrat-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url('../fonts/montserrat-semi-bold.woff2') format('woff2'), url('../fonts/montserrat-semi-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url('../fonts/montserrat-bold.woff2') format('woff2'), url('../fonts//montserrat-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url('../fonts/montserrat-extra-bold.woff2') format('woff2'), url('../fonts/montserrat-extra-bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url('../fonts/montserrat-black.woff2') format('woff2'), url('../fonts/montserrat-black.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background: transparent;
    margin-top: 30px;
}

.nav {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    // position: fixed;
    left: 0;
    right: 0;
    width: 500px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 200px;
    z-index: 9;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.06);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;

    &__link {
        color: var(--beige);
        display: block;
        padding: 10px 20px;
        line-height: 1;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
    }
}

.button {
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    z-index: 99;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
    transform: scale(0);

    &__line {
        width: 40%;
        background: var(--white);
        height: 2px;
        display: block;
        margin: 5px auto;
        transform: scalex(0);
        transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s margin ease-in 0s;
        &:hover {
            border-color: rgba(255, 255, 255, 0.5);
        }
    }
}

/* Top */

.top {
    font-family: var(--second-font);
    font-weight: 600;
    width: 100%;
    height: 1200px;
    background: url(../img/bangkok-2.avif) no-repeat 0% 70%;
    background-attachment: fixed;
    padding-top: 100px;

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 1300px;
        background: rgba(0, 0, 0, 0.5) no-repeat 0% 80%;
    }

    &__wrapper {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        min-height: 445px;
        color: var(--beige);
        padding: 180px 0;
    }

    &__title {
        font-size: 6.25rem;
    }

    &__filters {
        filter: url(#threshold) blur(0.6px);
    }

    &__text-top,
    &__text-bottom {
        position: absolute;
        width: 100%;
        display: inline-block;
        font-size: 6.25rem;
        user-select: none;
    }
}

/* About */

.about {
    background-color: var(--white);
    padding: var(--block-padding);

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 40px;
    }

    &__text-wrapper {
        font-family: var(--second-font);
        font-weight: 500;
    }

    &__text-block {
        font-size: 1.375rem;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-size: 2.75rem;
        margin-bottom: 30px;
    }

    &__text-top {
        display: inline-block;
        font-size: 2.25rem;
        margin-bottom: 30px;
    }

    &__colorful-wrapper {
        height: 874px;
        max-width: 100px;
        width: 100%;
    }

    // &__colorful {
    //     background: linear-gradient(
    //         to right,
    //         #a51931 0%,
    //         #a51931 20%,
    //         #ffffff 20%,
    //         #ffffff 40%,
    //         #2d2a4a 40%,
    //         #2d2a4a 60%,
    //         #ffffff 60%,
    //         #ffffff 80%,
    //         #a51931 80%,
    //         #a51931 100%
    //     );
    //     width: 100%;
    //     height: 100%;
    // }

    &__img {
        display: block;
        max-width: 700px;
    }
}

/* Adventure */

.adventure {
    padding: var(--block-padding);

    &__block-wrap {
        position: relative;
        font-size: 1.375rem;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        gap: 50px;
        z-index: 50;

        &:not(:last-child) {
            margin-bottom: 50px;
        }

        &:first-of-type {
            &::before {
                content: '';
                position: absolute;
                top: 112px;
                left: -260px;
                background: url(../img/airplane-2.png) no-repeat;
                background-size: 360px auto;
                width: 360px;
                height: 360px;
                opacity: 0.3;
                rotate: 10deg;
                z-index: -1;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 82px;
                right: 40px;
                background: url('../img/adventure-awaits.png') no-repeat;
                background-size: 200px auto;
                width: 200px;
                height: 200px;
                opacity: 0.3;
                z-index: -1;
            }
        }

        &:last-of-type {
            &::after {
                content: '';
                position: absolute;
                bottom: 32px;
                left: -340px;
                background: url('../img/airplane.png') no-repeat;
                background-size: 500px auto;
                width: 500px;
                height: 500px;
                opacity: 0.3;
                z-index: -1;
            }
        }
    }

    &__text-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
        justify-items: center;
        align-items: center;
        gap: 20px;
    }

    &__text {
        font-size: 1.75rem;
    }

    &__text-item,
    &__wrap {
        width: 200px;
        width: 100%;
        max-height: 400px;
    }

    &__wrap {
        overflow: hidden;
        box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.5);
    }

    &__img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        transition: transform 400ms ease-out;

        &:hover {
            transform: scale(1.15);
        }
    }
}

/* Animation scroll*/

.animation {
    &__feature-grid {
        display: grid;
        place-content: center;
        gap: 16px;
        // padding: 40px 50px;
        // max-width: 100vw;
        overflow: hidden;
    }

    &__row {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max(10vw, 20ch);
        gap: 16px;
    }

    &__card {
        width: 100%;
        height: 100%;
        aspect-ratio: 1080 / 1020;
        background-color: var(--light-grey);
        border-radius: 8px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}

/* Situations */

.situations {
    &__section {
        max-width: 1840px;
        border-radius: 50px;
        background-color: var(--grey-lemon-green);
        padding: var(--block-padding);
        margin: 0 auto;
    }

    &__wrapper {
        position: relative;
        z-index: 50;

        // &::before {
        //     content: '';
        //     position: absolute;
        //     bottom: -375px;
        //     left: -140px;
        //     background: url(../img/dached.png) no-repeat;
        //     background-size: 1710px auto;
        //     width: 1910px;
        //     height: 1080px;
        //     opacity: 0.6;
        //     z-index: -1;
        // }
    }

    &__block-wrap {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    &__blocks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        width: 100%;
    }

    &__card {
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 1.625rem;
        color: var(--dark-grey);
        background-color: var(--beige);
        border-radius: 20px;
        box-shadow: -2px 5px 15px 0px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease;
        cursor: default;
        padding: 46px;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__text-top,
    &__text-bottom {
        max-width: 352px;
        font-size: 2rem;
        color: var(--beige);
        background-color: var(--zian-green);
        border-radius: 30px;
        box-shadow: -2px 5px 15px 0px rgba(0, 0, 0, 0.5);
        padding: 50px;
    }

    &__text-bottom {
        align-self: flex-end;
        width: 100%;
        max-width: 468px;
    }
}

/* Statistics */

.statistics {
    background-color: var(--white);
    padding: var(--padding);

    &__about {
        display: grid;
        grid-template-columns: repeat(3, 460px);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        text-align: center;
        gap: 30px;
    }

    &__item {
        max-width: 550px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: subgrid;
        grid-row: span 2;
        grid-template-areas:
            'number number number'
            'text-statistic text-statistic text-statistic';
    }

    &__number {
        grid-area: number;
        position: relative;
        font-size: 9.375rem;
    }

    &__text-statistic {
        grid-area: text-statistic;
        font-size: 1.625rem;
    }
}

/* Choose */

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.choose {
    display: grid;
    max-inline-size: 100%;
    min-block-size: 100svb;
    overflow-x: clip;
    padding-block: 80px;
    place-items: center;

    &__wrapper {
        display: grid;
        place-items: center;
    }

    &__central-block {
        display: grid;
        place-items: center;
        gap: 16px;
        z-index: 2;

        @media (width >=1024px) {
            grid-area: 1/1;
        }
    }

    &__title {
        text-align: center;
    }

    &__hgroup {
        display: grid;
        place-items: center;
        gap: 8px;
    }

    &__cards {
        list-style: none;
        padding: 0;

        /* lg-n-below */
        @media (width < 1024px) {
            display: grid;
            grid-auto-flow: column;
            gap: 32px;
            max-inline-size: 100%;
            overflow-x: scroll;
            padding-block: 32px;
            padding-inline: 32px;
        }

        @media (width >=1024px) {
            --avatar-opacity: 1;
            --avatar-img-scale: 1;
            --tooltip-visibility: hidden;
            --tooltip-opacity: 0;
            --animation-state: running;

            display: grid;
            grid-area: 1/1;
            min-block-size: 700px;
            place-items: center;

            &:has(.choose__avatar-link-wrapper:is(:hover, :focus-visible, :active)) {
                --animation-state: paused;
                --avatar-opacity: 0.4;
            }
        }
    }

    &__card {
        padding: 0;

        @media (width >=1024px) {
            --radius: min(700px, 40cqi);
            --offset-per-child: calc(360deg / (var(--nth-siblings) + 1));
            --angle-offset: calc(var(--nth-child) * var(--offset-per-child));
            --inline-ratio: 1/1;
            --block-ratio: 3 / 4;
            --direction: min(max(calc(cos((var(--angle) + var(--angle-offset))) * -100), -1), 1);
            grid-area: 1/1;
            translate: calc(cos((var(--angle) + var(--angle-offset))) * var(--radius) * var(--inline-ratio))
                calc(sin((var(--angle) + var(--angle-offset))) * var(--radius) * var(--block-ratio) * -1);
            animation: adjust-angle linear 40s infinite reverse var(--animation-state);
        }
    }

    &__avatar-link-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: var(--text-1);

        &:is(:hover, :focus-visible, :active) {
            --avatar-img-scale: 1.1;
            --avatar-opacity: 1;
            --tooltip-opacity: 1;
            --tooltip-visibility: visible;
        }

        @media (width < 1024px) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__visual {
        aspect-ratio: 1;
        border-radius: 50%;
        box-shadow: 0 2px 4px 0 oklch(0 0 0 / 10%);
        max-width: 144px;
        width: 100%;
        opacity: var(--avatar-opacity);
        overflow: clip;
        transition: opacity 0.3s ease;

        @media (width >=1024px) {
            max-width: 250px;
        }
    }

    &__avatar-img {
        background-color: var(--surface-2);
        block-size: 100%;
        display: block;
        inline-size: 100%;
        object-fit: cover;
        scale: var(--avatar-img-scale, 1);
        transition: scale 0.3s ease;
    }

    &__tooltiptext {
        display: grid;
        gap: 4px;

        @media (width >=1024px) {
            position: absolute;
            font-size: 1.25rem;
            opacity: var(--tooltip-opacity);
            transition-duration: 0.3s;
            transition-property: opacity, visibility;
            transition-timing-function: ease;
            translate: 110% 0;
            visibility: var(--tooltip-visibility);
            pointer-events: none;
            user-select: none;

            @container style(--direction: -1) {
                text-align: end;
                translate: -110% 0;
            }
        }
    }

    @keyframes adjust-angle {
        to {
            --angle: 360deg;
        }
    }
}

/* Lessons */

.lessons {
    padding: var(--block-padding);

    &__top-blocks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 20px;
    }

    &__top-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        font-size: 1.75rem;
        line-height: 1.5;
    }

    &__title-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
        margin-bottom: 80px;
    }

    &__main-img {
        display: block;
        max-width: 800px;
        width: 100%;
        height: auto;
        border-radius: 30px;
        box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.5);
    }

    &__content {
        display: flex;
        flex-direction: column;
        min-height: 450px;
        height: 100%;
        flex-grow: 1;
        padding: 20px;
    }

    &__bottom-text {
        color: var(--dark-grey);
        font-size: 1.5rem;
    }

    &__wrap-img {
        margin-bottom: 30px;
    }

    &__img {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    &__title-lesson {
        font-size: 1.5rem;
        text-align: center;
        color: var(--dark-grey);
        margin-bottom: 10px;
    }

    &__description {
        font-size: 1.25rem;
        text-align: center;
        color: var(--dark-grey);
    }

    &__slider {
        background-color: var(--grey-lemon-green);
        padding: 50px 0;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 350px;
        max-width: 400px;
        width: 100%;
        min-height: 225px;
        max-width: 500px;
        height: 100%;
        background-color: var(--beige);
        border-radius: 30px;
        box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.5);
        margin: 0 16px;

        &:hover {
            transform: scale(1.05);
            transition: transform 0.3s;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 16px;
    }

    &__button {
        background-color: var(--zian-green);
        color: var(--beige);
        font-weight: bold;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        padding: 8px;

        @media (min-width: 1024px) {
            padding: 16px;
        }
    }

    &__img {
        max-width: 500px;
    }
}

.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 100%;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: flex;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-slide {
    opacity: 0.5;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slick-current {
    opacity: 1;
}

.slick-list {
    overflow: unset;
    overflow-x: clip;
}

/* FAQ */

.questions {
    background-color: var(--white);
    padding: var(--block-padding);

    &__title {
        padding-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 50px;
        color: var(--beige);
        padding: 0;
        margin: 20px 0 0 0;
    }

    &__item {
        display: block;
        list-style: none;
        overflow: hidden;
        border-radius: 30px;
        border-top: 1px solid var(--dark-grey);
        box-shadow: 1px 1px 11px 0px rgba(0, 0, 0, 0.5);
    }

    &__expand {
        display: flex;
        justify-content: space-between;
        background-color: var(--zian-green);
        text-decoration: none;
        cursor: pointer;
        padding: 15px;
    }

    &__question {
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__answer {
        background-color: var(--grey-lemon-green);
        color: var(--dark-grey);
        display: none;
        line-height: 22px;
        padding: 20px;
    }

    &__text {
        font-size: 1.25rem;
        color: var(--dark-grey);

        &_position {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    &__arrow {
        font-weight: 700;
        font-size: 1.5rem;
        align-content: center;
    }

    &__link {
        text-decoration: none;
        color: var(--zian-green);

        &:hover {
            text-decoration: underline;
        }
    }
}
